:root {
    font-size: 16px;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {

    position: relative;
}
.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 400px;
    margin:auto;
    background-color: bisque;
    padding: 3px;
    width: 16rem;
    height: 18rem;
}
.grid-item {
    min-height: 2rem;
    min-width: 2rem;
    border: 1px gray solid;
    border-radius: 8px;
    background-color: chartreuse;
    margin: 2px;
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.grid-item-display {
    grid-column-start: 1;
    grid-column-end: 5;
    display: grid;
    grid-template-columns: auto auto;
}
.grid-item-equal {
    grid-column-start: 3;
    grid-column-end: 5;
}
/* .negative {
    display: none;
} */